<table class="aeg table"> 
  <!-- 
    sortable 
    compact 
    striped
    collapsing 
    center aligned 
    right aligned
    radius
    no-border
    margin
  -->
  <thead>
    <!-- HEADER GROUP -->
    <tr>
      <th colspan="3">Group1</th>
      <th colspan="2">Group2</th>
    </tr>
     <!-- HEADER -->
    <tr>
      <th>Col1</th>
      <th>Col2</th>
      <th>Col3</th>
      <th>Col4</th>
      <th>Col5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Test1</td>
      <td>Test2</td>
      <td class="error">Test3</td>
      <td>Test4</td>
      <td class="warning">Test5</td>
    </tr>
    <tr>
      <td>Test1</td>
      <td>Test2</td>
      <td>Test3</td>
      <td>Test4</td>
      <td>Test5</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Foot1</th>
      <th>Foot2</th>
      <th>Foot3</th>
      <th>Foot4</th>
      <th>Foot5</th>
    </tr>
  </tfoot>
</table>